body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #F0FF42; /* Amarillo */
}

h1 {
    color: #333;
}

.winners {
    margin: 20px auto;
    max-width: 600px;
}

.winner {
    background-color: #82CD47; /* Verde claro */
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.back-link {
    margin-top: 20px;
}

/* Estilos adicionales para los tres primeros lugares */
.winner:nth-child(1) {
    background-color: #54B435; /* Verde medio */
}

.winner:nth-child(2) {
    background-color: #379237; /* Verde oscuro */
}