body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('https://www.eldiadecordoba.es/2019/06/27/cordoba/Comida-casera-casa_1367873313_101934342_667x375.jpg');
}

h1 {
    color: #333;
}

.winners {
    margin: 20px auto;
    max-width: 600px;
}

.winner {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    background-color: linear-gradient(to bottom, #FFFFCC, #FFFF99, #FFFF66);
}

/* Estilos adicionales para los tres primeros lugares */
.winner:nth-child(1) {
    background-color: #FFFFCC; /* Amarillo claro */
}

.winner:nth-child(2) {
    background-color: #FFFF99; /* Amarillo medio */
}

.winner:nth-child(3) {
    background-color: #FFFF66; /* Amarillo oscuro */
}