:root {
    --amarillo: #F0FF42;
    --verde_calido: #82CD47;
    --verde_opaco: #54B435;
    --verde_oscuro: #379237;
}

* {
    box-sizing: border-box;
    transition: all 0.3s;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 13px;
    background-color: var(--verde_oscuro);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#cuerpo_principal {
    text-align: center;
}

.gastronomia a {
    display: block;
    margin: 10px;
    padding: 15px;
    text-decoration: none;
    color: white;
    background-color: var(--verde_opaco);
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.gastronomia a:hover {
    background-color: var(--verde_calido);
    transform: scale(1.1);
}
