body {
    font-family: 'Arial', sans-serif;
    background-color: #F0FF42;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.votacion-container {
    background-color: #82CD47;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h2 {
    color: #379237;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #379237;
}

button {
    background-color: #54B435;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #379237;
}

